:root {
    --normal: #a8a878;
    --fire: #f08030;
    --grass: #78c850;
    --electric: #f8d030;
    --ground: #e0c068;
    --flying: #a890f0;
    --fighting: #c03028;
    --psychic: #f85888;
    --rock: #b8a038;
    --bug: #a8b820;
    --steel: #b8b8d0;
    --dragon: #7038f8;
    --water: #6890f0;
    --ice: #98d8d8;
    --poison: #a040a0;
    --dark: #705848;
    --ghost: #705898;
    --fairy: #ffaec9;
}

.typeDisplay {
    width: 170px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.MuiTypography-body2{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
}

.MuiCardHeader-avatar {
    margin-right: 8px !important;
}

.MuiCardHeader-root {
    padding-left: 12px !important;
}

.MuiCardHeader-title {
    text-align: center;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
    background-color: dimgray !important;
}